## Pandas library

In [141]:
import pandas as pd #using pandas library as pd

In [142]:
print("version:",pd.__version__)
#create Series -> one-dimensional array holding data of any type
v = [7,4,6]
myvar = pd.Series(v)
print(myvar)
print("first value:",myvar[0])
#create labels
myvar2 = pd.Series(v,index = ["x","y","z"])
print(myvar2)
print("first value:",myvar2["x"]) #accessing with label

version: 1.4.4
0    7
1    4
2    6
dtype: int64
first value: 7
x    7
y    4
z    6
dtype: int64
first value: 7

In [143]:
#key/value object as series

fruitscolor ={"banana":"yellow","strawberry":"red","apple":"green"}
myvar = pd.Series(fruitscolor)
print(myvar)
print("color of apple:",myvar["apple"])
#to select only some of the items in the dictionary with using index 
myvar2 = pd.Series(fruitscolor,index = ["banana","apple"]) 
print("----------")
print(myvar2)

banana        yellow
strawberry       red
apple          green
dtype: object
color of apple: green
----------
banana    yellow
apple      green
dtype: object

In [144]:
#DataFrames -> 2 dimensional data structure
#Series is like a column, DataFrame is the whole table 
data = {
    "length":[12,45,54],
    "price":[155,88,77]
}
myvar = pd.DataFrame(data)
print(myvar.columns) # gives names of columns
print(myvar.dtypes) # gives types of each columns
print(myvar.describe())
print(myvar)

Index(['length', 'price'], dtype='object')
length    int64
price     int64
dtype: object
          length       price
count   3.000000    3.000000
mean   37.000000  106.666667
std    22.113344   42.217690
min    12.000000   77.000000
25%    28.500000   82.500000
50%    45.000000   88.000000
75%    49.500000  121.500000
max    54.000000  155.000000
   length  price
0      12    155
1      45     88
2      54     77

In [145]:
data = {
    "length" : [3,4,5,6],
    "price" : [10,20,30,76]
}
df = pd.DataFrame(data)
print(df.loc[0]) #refers to the row index and return series
print(df.loc[[1,2]]) # return DataFrame -> loc[[]]
print(df.loc[:,"price"]) #only prices = df["price"]
print(df.loc[:2,"price"]) # return only 3 rows for price
print(df.loc[:1,"length":"price"])
print(df.loc[::-1])
print(df.loc[:2,["length","price"]])

length     3
price     10
Name: 0, dtype: int64
   length  price
1       4     20
2       5     30
0    10
1    20
2    30
3    76
Name: price, dtype: int64
0    10
1    20
2    30
Name: price, dtype: int64
   length  price
0       3     10
1       4     20
   length  price
3       6     76
2       5     30
1       4     20
0       3     10
   length  price
0       3     10
1       4     20
2       5     30

In [146]:
data = {
    "sport":[25,7,14],
    "calories":[60,10,30]
}
df = pd.DataFrame(data,index = ["day1","day2","day3"])
print(df)
print(df.loc[["day3"]])
df["new"] = [1,2,3]
print(df.loc[:,"new"]) # or df["new"]

      sport  calories
day1     25        60
day2      7        10
day3     14        30
      sport  calories
day3     14        30
day1    1
day2    2
day3    3
Name: new, dtype: int64

In [147]:
#Read CSV
#CSV files(comma separated files) -> store big data sets
df = pd.read_csv("C:/Users/EMRE/Desktop/dersler/machine learning/data/data.csv")
print(df.to_string()) #to_string() to print entire DataFrame
#print(df) # returns first and last 5 rows

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [148]:
# head() and tail() methods
dictionary = {"name":["ali","veli","zübeyde","ahmet","kubra","can"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}
df = pd.DataFrame(dictionary)
print(df.head()) #return top 5 rows as default 
print("---------------------")
print(df.head(2)) #return top 2 rows
print("----------------------")
print(df.tail()) #return last 5 rows as default
print("----------------------")
print(df.tail(2)) #return last 2 rows

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
---------------------
   name   age   note
0   ali  12.0  123.0
1  veli  34.0  456.0
----------------------
      name   age     note
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0
----------------------
    name   age  note
4  kubra   NaN   NaN
5    can  12.0  89.0

In [149]:
#info
# give us more information about the data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   note    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes
None

In [150]:
#remove rows
new_df = df.dropna() #dropna() returns a new DataFrame with no empty cells and will not affect original DataFrame
print(new_df)
#dropna(inplace = True) will not return a new DataFrame, but it will remove all rows containing
#NULL values from the original DataFrame so it will affect original DataFrame 
df.dropna(inplace = True) 
print("-----------------")
print(df)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
5      can  12.0     89.0
-----------------
      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
5      can  12.0     89.0

In [151]:
#fillna() method allows us to replace empty cells with a value
df = pd.DataFrame(dictionary)
df.fillna(100,inplace=True)
print(df)
# empty cells  got the value 100 (in row 4)
df2 = pd.DataFrame(dictionary)
# Replace only for specified colums
df2["age"].fillna(100,inplace=True)
print("-------------------------")
print(df2)

      name    age     note
0      ali   12.0    123.0
1     veli   34.0    456.0
2  zübeyde   56.0     78.0
3    ahmet   78.0  87654.0
4    kubra  100.0    100.0
5      can   12.0     89.0
-------------------------
      name    age     note
0      ali   12.0    123.0
1     veli   34.0    456.0
2  zübeyde   56.0     78.0
3    ahmet   78.0  87654.0
4    kubra  100.0      NaN
5      can   12.0     89.0

In [152]:
#mean() median() and mode()
#mean = the average value
#median = the value in the middle
#mode = the value that appears most frequently

df = pd.DataFrame(dictionary)
print(df)
print(f"mean:{df.age.mean()} median:{df.age.median()} mode:{df.age.mode()[0]}")

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0
mean:38.4 median:34.0 mode:12.0

In [153]:
#Cleaning Data of Wrong Format
data = {
    "Duration":[60,60,450,60,60],
    "Date":['2020/12/01','20201202','2020/12/03','2020/12/04',None],
    "Pulse":[110,117,200,12,43],
    "Maxpulse":[130,45,50,299,55]
}
df = pd.DataFrame(data)
print(df)
#convert into a correct format for row 1
#to_datetime()
df.Date = pd.to_datetime(df.Date)
print(df)
df.dropna(subset =['Date'],inplace=True) # remove row which has a Nat value
print(df)
#replacing values
df = pd.DataFrame(data)
print(df)
df.loc[2,'Duration'] = 60
print(df)

   Duration        Date  Pulse  Maxpulse
0        60  2020/12/01    110       130
1        60    20201202    117        45
2       450  2020/12/03    200        50
3        60  2020/12/04     12       299
4        60        None     43        55
   Duration       Date  Pulse  Maxpulse
0        60 2020-12-01    110       130
1        60 2020-12-02    117        45
2       450 2020-12-03    200        50
3        60 2020-12-04     12       299
4        60        NaT     43        55
   Duration       Date  Pulse  Maxpulse
0        60 2020-12-01    110       130
1        60 2020-12-02    117        45
2       450 2020-12-03    200        50
3        60 2020-12-04     12       299
   Duration        Date  Pulse  Maxpulse
0        60  2020/12/01    110       130
1        60    20201202    117        45
2       450  2020/12/03    200        50
3        60  2020/12/04     12       299
4        60        None     43        55
   Duration        Date  Pulse  Maxpulse
0        60  2020/12/01    110       130
1        60    20201202    117        45
2        60  2020/12/03    200        50
3        60  2020/12/04     12       299
4        60        None     43        55

In [154]:
#filter
data = {
    "Duration":[60,60,60,450,60,60],
    "Date":['2020/12/01','2020/12/01','20201202','2020/12/03','2020/12/04',None],
    "Pulse":[110,110,117,200,12,43],
    "Maxpulse":[130,130,45,50,299,55]
}
df = pd.DataFrame(data)
for x in df.index:
    if df.loc[x,"Pulse"]>100:
        df.loc[x,"Pulse"] = 99
print(df)        
filtre1 = df.Duration <= 60
df["Bool"] = filtre1
print(df)
print(df[df.Maxpulse>70])

   Duration        Date  Pulse  Maxpulse
0        60  2020/12/01     99       130
1        60  2020/12/01     99       130
2        60    20201202     99        45
3       450  2020/12/03     99        50
4        60  2020/12/04     12       299
5        60        None     43        55
   Duration        Date  Pulse  Maxpulse   Bool
0        60  2020/12/01     99       130   True
1        60  2020/12/01     99       130   True
2        60    20201202     99        45   True
3       450  2020/12/03     99        50  False
4        60  2020/12/04     12       299   True
5        60        None     43        55   True
   Duration        Date  Pulse  Maxpulse  Bool
0        60  2020/12/01     99       130  True
1        60  2020/12/01     99       130  True
4        60  2020/12/04     12       299  True

In [155]:
df = pd.DataFrame(data)
filter1 = df.Maxpulse > 100
df["Bool"] = filter1
print(df.loc[:,["Maxpulse","Bool"]])
filtered_data = df[filter1] # return only true rows
print(filtered_data)
filter2 = df.Pulse < 100
filtered_data2 = df[filter1&filter2]
print(filtered_data2)

   Maxpulse   Bool
0       130   True
1       130   True
2        45  False
3        50  False
4       299   True
5        55  False
   Duration        Date  Pulse  Maxpulse  Bool
0        60  2020/12/01    110       130  True
1        60  2020/12/01    110       130  True
4        60  2020/12/04     12       299  True
   Duration        Date  Pulse  Maxpulse  Bool
4        60  2020/12/04     12       299  True

In [156]:
#duplicated() method
print(df.duplicated())
# returns True for very row that is a duplicate, otherwise False
df.drop_duplicates(inplace=True) # remove all duplicates
print(df)

0    False
1     True
2    False
3    False
4    False
5    False
dtype: bool
   Duration        Date  Pulse  Maxpulse   Bool
0        60  2020/12/01    110       130   True
2        60    20201202    117        45  False
3       450  2020/12/03    200        50  False
4        60  2020/12/04     12       299   True
5        60        None     43        55  False

In [167]:
#list comprehension
data = {
    "name":["a","b","c"],
    "age":[10,11,9],
    "note":[98,32,77]
}
df = pd.DataFrame(data)
df["durum"] = ["geçti" if df.note.mean() < item else "kaldı" for item in df.note]
print(df.note.mean())
print(df.loc[:,["note","durum"]])
df["test_future"] = [1,2,3]
df.columns = [item.split("_")[0] +" "+item.split("_")[1] if len(item.split("_")) > 1 else item for item in df.columns]
print(df)
df.columns = [item.split(" ")[0] + "_" + item.split(" ")[1] if len(item.split(" ")) > 1 else item for item in df.columns]
print(df)

69.0
   note  durum
0    98  geçti
1    32  kaldı
2    77  geçti
  name  age  note  durum  test future
0    a   10    98  geçti            1
1    b   11    32  kaldı            2
2    c    9    77  geçti            3
  name  age  note  durum  test_future
0    a   10    98  geçti            1
1    b   11    32  kaldı            2
2    c    9    77  geçti            3

In [168]:
#Concatenating Data
print(df)
df.drop(["test_future"] , axis = 1,inplace = True )
print(df)

  name  age  note  durum  test_future
0    a   10    98  geçti            1
1    b   11    32  kaldı            2
2    c    9    77  geçti            3
  name  age  note  durum
0    a   10    98  geçti
1    b   11    32  kaldı
2    c    9    77  geçti

In [159]:
df1 =df.head()
df2 = df.tail()
df_concat = pd.concat([df1,df2],axis=0)#verticle
print(df_concat) 
df_concat2 =pd.concat([df1,df2],axis=1) #horizontal
print(df_concat2)

  name  age  note  durum
0    a   10    98  geçti
1    b   11    32  kaldı
2    c    9    77  geçti
0    a   10    98  geçti
1    b   11    32  kaldı
2    c    9    77  geçti
  name  age  note  durum name  age  note  durum
0    a   10    98  geçti    a   10    98  geçti
1    b   11    32  kaldı    b   11    32  kaldı
2    c    9    77  geçti    c    9    77  geçti

In [160]:
df["name"] = [item.upper() for item in df["name"]]
df

  name  age  note  durum
0    A   10    98  geçti
1    B   11    32  kaldı
2    C    9    77  geçti

In [173]:
#long way
def mlt1(note):
    return note*2    
df["yeni1 not"] =[mlt1(item) for item in df.note]
print(df)
#short way with apply
def mlt2(note):
    return note*2
df["yeni2 not"] = df.note.apply(mlt2)
print("------------------------------------------------------------------")
print(df)

  name  age  note  durum  yeni1 not  yeni2 not
0    a   10    98  geçti        196        196
1    b   11    32  kaldı         64         64
2    c    9    77  geçti        154        154
------------------------------------------------------------------
  name  age  note  durum  yeni1 not  yeni2 not
0    a   10    98  geçti        196        196
1    b   11    32  kaldı         64         64
2    c    9    77  geçti        154        154